<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yuyufeng.dao.ArticleInfoMapper">
  <resultMap id="BaseResultMap" type="top.yuyufeng.entity.ArticleInfo">
    <constructor>
      <idArg column="article_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="article_title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="article_subtitle" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="article_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="article_photo_path" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="top.yuyufeng.entity.ArticleInfo">
    <constructor>
      <idArg column="article_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="article_title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="article_subtitle" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="article_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="article_photo_path" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="article_content" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    article_id, article_title, article_subtitle, article_time, article_photo_path
  </sql>
  <sql id="Blob_Column_List">
    article_content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from article_info
    where article_id = #{articleId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from article_info
    where article_id = #{articleId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="top.yuyufeng.entity.ArticleInfo">
    insert into article_info (article_id, article_title, article_subtitle, 
      article_time, article_photo_path, article_content
      )
    values (#{articleId,jdbcType=BIGINT}, #{articleTitle,jdbcType=VARCHAR}, #{articleSubtitle,jdbcType=VARCHAR}, 
      #{articleTime,jdbcType=TIMESTAMP}, #{articlePhotoPath,jdbcType=VARCHAR}, #{articleContent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="top.yuyufeng.entity.ArticleInfo" useGeneratedKeys="true"  keyProperty="articleId">
    insert into article_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="articleId != null">
        article_id,
      </if>
      <if test="articleTitle != null">
        article_title,
      </if>
      <if test="articleSubtitle != null">
        article_subtitle,
      </if>
      <if test="articleTime != null">
        article_time,
      </if>
      <if test="articlePhotoPath != null">
        article_photo_path,
      </if>
      <if test="articleContent != null">
        article_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="articleId != null">
        #{articleId,jdbcType=BIGINT},
      </if>
      <if test="articleTitle != null">
        #{articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="articleSubtitle != null">
        #{articleSubtitle,jdbcType=VARCHAR},
      </if>
      <if test="articleTime != null">
        #{articleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="articlePhotoPath != null">
        #{articlePhotoPath,jdbcType=VARCHAR},
      </if>
      <if test="articleContent != null">
        #{articleContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.yuyufeng.entity.ArticleInfo">
    update article_info
    <set>
      <if test="articleTitle != null">
        article_title = #{articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="articleSubtitle != null">
        article_subtitle = #{articleSubtitle,jdbcType=VARCHAR},
      </if>
      <if test="articleTime != null">
        article_time = #{articleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="articlePhotoPath != null">
        article_photo_path = #{articlePhotoPath,jdbcType=VARCHAR},
      </if>
      <if test="articleContent != null">
        article_content = #{articleContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where article_id = #{articleId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="top.yuyufeng.entity.ArticleInfo">
    update article_info
    set article_title = #{articleTitle,jdbcType=VARCHAR},
      article_subtitle = #{articleSubtitle,jdbcType=VARCHAR},
      article_time = #{articleTime,jdbcType=TIMESTAMP},
      article_photo_path = #{articlePhotoPath,jdbcType=VARCHAR},
      article_content = #{articleContent,jdbcType=LONGVARCHAR}
    where article_id = #{articleId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.yuyufeng.entity.ArticleInfo">
    update article_info
    set article_title = #{articleTitle,jdbcType=VARCHAR},
      article_subtitle = #{articleSubtitle,jdbcType=VARCHAR},
      article_time = #{articleTime,jdbcType=TIMESTAMP},
      article_photo_path = #{articlePhotoPath,jdbcType=VARCHAR}
    where article_id = #{articleId,jdbcType=BIGINT}
  </update>

  <select id="queryList" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List"/>
    ,
    <include refid="Blob_Column_List"/>
    from article_info
  </select>
</mapper>